<!--pages/applycontract/applycontract.wxml-->
<view class='applybox'>
  <view><text>发票金额</text><text class='price'>￥27572.00</text></view>
  <view><text class='pay'>优惠券支付部分不可开票</text><text class='truepay'>以实付金额为准</text></view>
  <view><text>抬头类型</text><text class='person'>个人</text></view>
   <view><text class='pay'>其它发票需求请联系校区前台</text></view>
  <view class='inpview'><text>发票抬头</text><input placeholder='张三'/></view>
   <view><text>开票方式</text></view>
   <view><text class='pay'>申请后，发票将自动发送到您的微信</text></view>
  <view class='inpview'><text>邮箱</text><input placeholder='可不填，填写后可发送至您的邮箱'/></view>
  <button>提交</button>
</view>

