/* pages/applycontract/applycontract.wxss */
.applybox{
  width: 100%;
  height: 100%;
  background: #F9F8FE;
  font-size: 15px;
}
.applybox view{
  margin-left: 20px;
  margin-top: 10px;
}
.price{
  margin-left: 130px;
  color: #FE6464;
  font-size: 20px;
}
.pay{
  color: #ccc;
}
.truepay{
  color: #FE6464;
  margin-left: 30px;
}
.person{
  margin-left: 40px;
}
.inpview{
  width: 100%;
  display: flex;
}
.inpview input{
  width: 70%;
  background: #F9F8FE;
  box-shadow: inset 0 1px 1px 1px rgba(213,213,213,0.50);
  border-radius: 100px;
  margin-left: 10px;
  padding: 5px;
}
.inpview text{
  margin-top: 6px;
}
button{
background: #349BFF;
border-radius: 100px;
width: 90%;
margin-top: 20px;
height: 30px;
line-height: 30px;
color: #fff;
}