<view class='serve'>
  <view class='serve-top'>
    <view class='swiper-box'>
      <swiper indicator-dots="{{indicatorDots}}" autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}">
        <block wx:for="{{imgUrls}}" wx:key="index">
          <swiper-item>
            <image src="{{item}}" class="slide-image" />
          </swiper-item>
        </block>
      </swiper>
    </view>
  </view>
  <view class='serve-cont'>
    <text class='h2'>常用服务</text>
    <view class='ul'>
      <view class='li'>
        <text class='iconfont icon-wodedianpu'></text>励步商店</view>
      <view class='li'>
        <text class='iconfont icon-fapiaosel'></text>电子发票</view>
      <view class='li'>
        <text class='iconfont icon-zhengshu-copy'></text>GESE证书</view>
      <view class='li'>
        <text class='iconfont icon-live_icon'></text>教室直播</view>
      <view class='li'>
        <text class='iconfont icon-xuexiaoqingkuang'></text>自助转校</view>
      <view class='li'>
        <text class='iconfont icon-web-icon-'></text>自助退费</view>
      <view class='li' bindtap='tapContract'>
        <text class='iconfont icon-hetongshenpi'></text>合同查询</view>
      <view class='li'>
        <text class='iconfont icon-fenlei'></text>更多应用</view>
    </view>
  </view>
</view>